@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Acesso Negado - ContosoPizza</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container" style="text-align:center; margin-top:100px;">
        <h1>⛔ Acesso Negado</h1>
        <p>Você não tem permissão para acessar esta página.</p>
        <a href="/Home/Login">Voltar ao Login</a> | 
        <a href="/Home/Index">Voltar ao Cardápio</a>
    </div>
</body>
</html>
